@{ 
    ViewData["Title"] = "Burial List"; 
}

@*Generic page to recieve an error message, display it, and allow the user to go back to the home page*@
<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="index" asp-controller="home">Click here to go back to the home page</a>
