@model Intex.C14Data

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Carbon Dating Entry</h1>

<h4>Carbon Dating Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rack" class="control-label"></label>
                <input asp-for="Rack" class="form-control" />
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NorthSouthNumber" class="control-label"></label>
                <input asp-for="NorthSouthNumber" class="form-control" />
                <span asp-validation-for="NorthSouthNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NorthSouthLetter" class="control-label"></label>
                <input asp-for="NorthSouthLetter" class="form-control" />
                <span asp-validation-for="NorthSouthLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastWestNumber" class="control-label"></label>
                <input asp-for="EastWestNumber" class="form-control" />
                <span asp-validation-for="EastWestNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastWestLetter" class="control-label"></label>
                <input asp-for="EastWestLetter" class="form-control" />
                <span asp-validation-for="EastWestLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label"></label>
                <input asp-for="Square" class="form-control" />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TubeNumber" class="control-label"></label>
                <input asp-for="TubeNumber" class="form-control" />
                <span asp-validation-for="TubeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeMl" class="control-label"></label>
                <input asp-for="SizeMl" class="form-control" />
                <span asp-validation-for="SizeMl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foci" class="control-label"></label>
                <input asp-for="Foci" class="form-control" />
                <span asp-validation-for="Foci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C14Sample2017" class="control-label"></label>
                <input asp-for="C14Sample2017" class="form-control" />
                <span asp-validation-for="C14Sample2017" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionS" class="control-label"></label>
                <input asp-for="QuestionS" class="form-control" />
                <span asp-validation-for="QuestionS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherNumber" class="control-label"></label>
                <input asp-for="OtherNumber" class="form-control" />
                <span asp-validation-for="OtherNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conventional14cAgeBp" class="control-label"></label>
                <input asp-for="Conventional14cAgeBp" class="form-control" />
                <span asp-validation-for="Conventional14cAgeBp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_14cCalendarDate" class="control-label"></label>
                <input asp-for="_14cCalendarDate" class="form-control" />
                <span asp-validation-for="_14cCalendarDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateMax" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateMax" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateMin" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateMin" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateSpan" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateSpan" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateSpan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateAvg" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateAvg" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
