@{
    ViewData["Title"] = "Burial List";
}

@*obviously gonna have to change some of the wording*@
<div class="text-center">
    <h1>Burial Record Page</h1>
    <p>Details of a SPECIFIC burial</p>
    <p>Page will be built dynamically each time based on the mummy that the user selects</p>
</div>

@*Page Requirements... Will be deleted later*@
<ul>
    <li>A paginated list of all the burials with a brief summary of the info.</li>
    <li>The ability to filter the results by the relevant criteria.</li>
    <li> For example, if the full data was included in the database, could you answer questions like:</li>
    <li>Did the orientation of the mummies change over time?</li>
    <li>Are mummies with similar hair color buried together?</li>
    <li>Which age or gender is most likely buried with dice?</li>
    <li>What is the average thread count of textile wrapping a mummy at a certain depth?</li>
    <li>The ability to select a specific record and pull up the details of the burial, including field notes, photographs, measurements, and any details captured about the mummy or items included in its burial.</li>
</ul>


@*Researcher info will be displayed below ONLY IF A VERIFIED RESEARCHER IS SIGNED IN *@
<h4>Researcher info will be displayed below ONLY IF A VERIFIED RESEARCHER IS SIGNED IN</h4>
<a class="btn btn-primary">Edit Field Notes</a>
<a class="btn btn-primary">Edit Other info</a>
<p>The "Researcher Pages" will have the following:</p>
<p>A page linked from the single burial page where a researcher can enter/edit field notes.</p>
<p>A page linked from the single burial page where a researcher can enter/edit other information about the mummy.</p>
