@{
    ViewData["Title"] = "Burial List";
}

@*obviously gonna have to change some of the wording*@
<div class="text-center">
    <h1>Burial Summary Page</h1>
    <p>Look at all the mummies, or click a specific one to bring up information about that specific mummy</p>
</div>

@*Page Requirements... Will be deleted later*@
<ul>
    <li>A paginated list of all the burials with a brief summary of the info.</li>
    <li>The ability to filter the results by the relevant criteria.</li>
    <li> For example, if the full data was included in the database, could you answer questions like:</li>
    <li>Did the orientation of the mummies change over time?</li>
    <li>Are mummies with similar hair color buried together?</li>
    <li>Which age or gender is most likely buried with dice?</li>
    <li>What is the average thread count of textile wrapping a mummy at a certain depth?</li>
    <li>The ability to select a specific record and pull up the details of the burial, including field notes, photographs, measurements, and any details captured about the mummy or items included in its burial.</li>
</ul>


