@{ ViewData["Title"] = "Burial List"; }

<h1>This page will be deleted. It is just here to house administrative links that I've made so i don't forget them</h1>


<a class="btn btn-primary" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
