@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Congrats! Your email has been confirmed!</h1>

<br />

<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Click here to login</a>


